data/*
.DS_Store
utils/__pycache__/
src/predvirushost/utils/__pycache__/
src/predvirushost/__pycache__/
utils/build/
build/*
build/
build/lib/predvirushost/*
build/lib/predvirushost/utils/*
src/predvirushost.egg-info/*
src/predvirushost.egg-info/
host-scoring-modified-woh-hard-coding.R
